@font-face {
  /*
  Font taken from: https://www.dafont.com/starcraft.font
  Starcraft font by Pixel Sagas 
  */
  font-family: SCfont; src: url('SCfont.ttf');
}

.using-scfont {
  font-family: SCfont;
}

.item-boxover {
    width: 100%;
    image-rendering: pixelated;
}

.soft-fluid {
    justify-content: center;
}

.row {
  margin-left: 1rem;
  margin-right: 1rem;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(86, 61, 124, .2);
}

